.head h1 {
	margin: 5px 0 7px 3.5px;
}
.head p {
	margin: 0px 0 0px 3.5px;
	line-height: 1.1em;
}
.head.left-section, .head.right-section{
	float: left;
}
.info-some-wrapper{
	position: absolute;
	right: 0;
}
.teaser-img-wrapper{
	margin: 15px 3.5px;
}
.info-page-info-wrapper{
	width:100%;
	float: none;
	margin: 3.5px 3.5px 10px 3.5px;
	font-size: 0.9em;
}
.info-page-info-wrapper .info-content{
	width: 33.33333333333333%;
	padding: 0 35px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.info-page-info-wrapper h2{
	text-align: center;
	font-weight: bold;
}
.info-page-info-wrapper .info-content p{
	text-align: center;
}
.info-icon{
	width: 60px;
	height: 70px;
	display: block;
	margin: auto;
	background-image: url('img/icons/infopage.svg');
	background-repeat: no-repeat;
	background-size: cover;
}
.info-icon.general-icon{
	background-position: 0px 0px;
}
.info-icon.idea-icon{
	background-position: -60px 0px;
	width: 50px;
}
.info-icon.goal-icon{
	background-position: -113px 0px;
	width: 70px;
}
.price-wrapper{
	margin: 0 3.5px;
}
.price-content{
	margin: 0 0 10px 0;
}
.price-content .left-section, .price-content .right-section{
	float: left;
}
.price-content .price-img{
	margin: 10px 0 0 0;
}
.price-content h3 {
	font-weight: bold;
	margin: 0 0 10px 0;
}
.price-content .text{
	margin: 10px 0 10px 0;
}
.price-content .infotext{
	margin: 0;
}
.price-content .text{
	font-size: 0.9em;
}
.block-link-wrapper {
	margin: 0 0 15px 3.5px;
}
.chronik-wrapper{
	position: relative;
	margin: 0 3.5px;
}
.chronik-line{
	position: absolute;
	height: 1955px;
	width: 2px;
	background: #4a4a4a;
	left: 50%;
	top: 158px;
	margin: 0 0 0 -1px;
}
.chronik-content {
	position: relative;
	margin: 0 0 100px 0 ;
}
.chronik-content .bubble{
	width: 100px;
	height: 100px;
	border: 1px solid #4a4a4a;
	background: #4a4a4a;
	border-radius: 51px;
	position: relative;
	margin: auto;
}
.chronik-content .bubble .number{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -13px 0 0 -21px;
	font-size: 1.3em;
	color: #f9f9f9;
}
.chronik-content .text{
	position: absolute;
	top: 0;
	max-width: 40%;
	font-size: 0.9em;
}
.chronik-content-left .text{
	left: 0;
	text-align: left;
}
.chronik-content-right .text{
	right: 0;
}
.chronik-content-head {
	max-width: 50%;
	text-align: center;
	margin: 0 auto 100px auto;
}
.chronik-content-head .text{
	position: relative;
	max-width: 100%;
}
.chronik-content-head .start-bubble{
	width: 25px;
	height: 25px;
	background: #4a4a4a;
	border-radius: 20px;
	margin: auto;
}
@media all and (max-width: 1035px) {
	.chronik-content {
		margin: 0 0 145px 0;
	}
	.chronik-line {
		height: 2402px;
		top: 178px;
	}
}
@media all and (max-width: 900px) {
	.info-page-info-wrapper .info-content {
		width: 100%;
		padding: 0 33px;
		margin: 10px 0 0 0;
	}
	.chronik-content-head {
		max-width: 100%;
	}
	.chronik-line {
		height: 3326px;
		top: 155px;
	}
	.chronik-content {
		margin: 0 0 247px 0;
	}
	.chronik-content-head{
		margin: 0 0 100px 0;
	}
}

@media all and (max-width: 640px) {
	.info-head-wrapper{
		margin: 10px 0 0 0;
	}
	.head.left-section, .head.right-section {
		width: 50%;
	}
	.chronik-content {
		margin: 0 0 50px 0;
	}
	.chronik-content .text {
		position: relative;
		max-width: 100%;
		text-align: center;
		margin: 10px 0 0 0;
	}
	.chronik-content-left .text {
		text-align: center;
	}
	.chronik-line {
		height: 143px;
		top: 123px;
	}
	.price-wrapper .headline-wrapper, .chronik-wrapper .headline-wrapper{
		display: none;
	}
}
@media all and (max-width: 440px) {
	.chronik-line {
		top: 133px;
	}
}

